nav.navbar.navbar-expand-md.navbar-dark.cyan
    a.navbar-brand(href='#') Online Shop
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#basicExampleNav', aria-controls='basicExampleNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #basicExampleNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item.active
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='/cart') Cart
            li.nav-item
                a.nav-link(href='/orders') Orders
            li.nav-item
                a.nav-link(href='/login') Login
            li.nav-item
                a.nav-link(href='/singup') Singip
            li.nav-item
                a.nav-link(href='/admin/add') add product
            li.nav-item
                a.nav-link(href='/admin/orders')  managa orders
